@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-accent: #a92801;
  --color-white: #fff;
  --color-light: #eeeeed;
  --color-darker-light: #9e9e9c;
  --color-dark: #232323;
  --color-hover: #000000;
  --font-size-xs: 0.625rem;
  --font-size-s: clamp(0.875rem, 2.5vw, 1rem);
  --font-size-m: 2rem;
  --font-size-l: 2.8125rem;
  --font-size-m: clamp(1rem, 1rem + 1.7273vw, 2rem);
  --font-size-l: clamp(1.275rem, 1rem + 2.7273vw, 2.8125rem);
  --font-size-xl: clamp(2.375rem, 1.3705rem + 4.7273vw, 5.625rem);
  --font-size-xxl: clamp(2.25rem, -0.3767rem + 10.7241vw, 9.275rem);
  --grid-main: minmax(6.125rem, 1fr) [main-start] minmax(0, 87.5rem) [main-end]
    minmax(6.125rem, 1fr);
  --grid-medium: minmax(3rem, 1fr) [main-start] minmax(0, 67.5rem) [main-end]
    minmax(3rem, 1fr);
  --grid-small: minmax(1rem, 1fr) [main-start] minmax(0, 47.5rem) [main-end]
    minmax(1rem, 1fr);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
}

.grid-container {
  display: grid;
  grid-template-columns: var(--grid-main);

  @media (max-width: 1100px) {
    grid-template-columns: var(--grid-medium);
  }
  @media (max-width: 650px) {
    grid-template-columns: var(--grid-small);
  }
}

.grid {
  grid-column: main;
}

.map-container {
  height: 500px;
  width: 100%;
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

h5 {
  font-size: var(--font-size-s);
}

h6 {
  font-size: var(--font-size-xs);
}

p,
span {
  font-size: var(--font-size-s);
}

a {
  color: var(--color-dark);
}
a:hover {
  color: var(--color-hover);
}

button {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;
}

textarea {
  height: 200px;
  min-height: 100px;
  max-height: 600px;
  resize: vertical;
  margin-top: 4px;
}

input {
  height: 40px;
  margin-top: 4px;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}
